/* font style */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Fira Sans", serif;
}
body{
    background: rgb(245, 245, 245);
}
/* header */
.kedar{
    max-width: 1280px;
    margin: 0 auto;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    height: 560px;
    background-color: #C6E4D6;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px 80px 100px;
    margin: 40px 0px 80px 0px;
    border-radius: 24px;
}

/* button */
.btn{
    color: #006A50;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106,80);
    border-radius: 8px;
    font-weight: 600;
}
.btn-second{
    border-radius: 16px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

/* paragraph */
.bold{
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
}
.pot{
    font-size: 56px;
}

.column-item{
    display: flex;
    gap: 24px;
    margin: 24px 0px;
}
.column{
    margin: 80px 0px;

}
.items{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    align-items: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.told{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.tup{
    color: rgba(14, 14, 14,0.7);
    font-size: 16px;
    font-weight: 400;
}
/* the pillar */
.tip{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
.pit{
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.to{
    border-radius: 16px;
    background: rgb(247, 235, 207);
}
/* learn more */
.btn-third{
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 20px;
    border: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.oe{
    background: rgba(84, 144, 245);
}
.ki{
    background: rgb(9, 161, 92);
}
.bol{
    background: rgb(255, 194, 57);
}
/* satelite */
.kind{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.tie{
    border-radius: 24px;
}

/* table */
td{
    border: 1px solid black;
    padding: 24px;
}
.mo{
    border-right: none;
}
.no{
    border-left: none;
}
.kill{
    background: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    font-weight: 600;
}
tr{
    border: none;
}
table, thead, tbody, tr, td{
    border: 1px solid rgba(14, 14, 14, 0.15);
}
table{
    border-collapse: collapse;
    width: 1216px;
    border: none;
}
.table{
    padding: 32px;
    border-radius: 16px;
    background: #ffffff;
}
/* unordered list */
ul{
    display: flex;
    list-style: none;
    justify-content: space-around; 
}

/* kit */
.kit{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top 30px left 24px;
    padding: 48px 24px;
}
.iot{
    background: #ffffff;
}
/* button table */
.lie{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 14px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
}

.bulma{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.error{
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: #ffffff;
}
.type{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.time{
    display: flex;
    gap: 10px;
    color: rgba(14, 14, 14,0.7);
    font-size: 16px;
    font-weight: 400;
}
.kite{
    width: 134px;
}
/* form */
.alt{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.alt input{
    width: 1032px;
    padding: 20px 40px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: #ffffff;
    border: none;
}
/* button donation */
.up{
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
.up button{
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    border-radius: 16px;
    background: #ffffff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 40px;
    font-weight: 700;
}
/* end */
.oz{
    text-align: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 0;
    padding: 80px 100px;
}
.oz input{
    margin: 0;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px;
    border: none;
    outline: none;
}
.oz button{
    margin: 0 0 0 -5px;
    border-radius: 0px 8px 8px 0px;
    padding: 18px 40px;
    border: none;
    background: rgb(0, 106, 80);
    color: #ffffff;
    font-weight: 600;
}
footer{
    margin-top: 80px;
    align-items: center;
    padding: 50px 160px;
    background: #FFF;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#ass{
    gap: 20px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}